.newDiv {
  background-color: aqua;
  margin: 5px;
  height: 200px;
  text-align: center;
  font-size: large;
}

/* this is a new comment */

/* this a second comment */

/* this is the first version */